# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.db

# IDE preferences folders
/.vscode
/.vs
.idea/
node_modules

# environment file
/.env
*.env
/internal/db/mocks/
/internal/database/mocks/
